{% extends 'base.html.twig' %}

{% block title %}Edit Demand{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('home') }}"><button class="btn btn-ghost-primary mb-3"><< Back to list</button></a>
        <div class="alert alert-primary m-auto col-8" role="alert">
            <div class="row justify-content-center">
                <div class="col-4">
                    {{ include('demand/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="container mt-5">
            <div class="col-8 m-auto border p-3 shadow-lg p-3 mb-5 bg-white rounded">
                <h1 class="mb-5">Edit Demand n°{{ demand.id }}</h1>
                {{ include('demand/_form.html.twig', {'button_label': ''}) }}
            </div>
        </div>
{% endblock %}
