{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <a href="{{ path('company_index') }}"><button class="btn btn-ghost-primary mb-3"><< Back to list</button></a>
    <div class="alert alert-primary col-8 m-auto" role="alert">
        <div class="row justify-content-center">
            <div class="col-4">
                {{ include('company/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="col-8 m-auto border p-3 shadow-lg p-3 mb-5 bg-white rounded">
        <h1 class="mb-5">Edit Company</h1>

        {{ include('company/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
{% endblock %}
